
@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

*
	font-family: 'Open Sans', sans-serif
.wrap
	width: 50%
	margin: 0 auto
	border: 1px solid #bbb
	padding-bottom: 20px
	margin-bottom: 40px
.container
	// width: 50%
	margin: 0 auto
	

.header
	width: 100%
	height: 300px
.main

	position: relative
	top: -235px
	padding-top: 40px
	margin-bottom: -240px
	background: #FFF 
	&__image
		position: relative
		display: block
		width: 140px
		height: 150px
		margin: 0 auto
		margin-bottom: 6px
	&__title
		text-align: center
		font-size: 50px
		font-family: 'Open Sans', sans-serif
		margin-bottom: 12px
	&__suptitle
		font-size: 16px
		text-align: center
		margin-bottom: 14px
.btns

	text-align: center 
	padding-bottom: 90px
	position: relative
	&:before
		content: '' 
		left: 50%
		transform: translate(-50%, 0)
		width: 45%
		height: 1px
		background: #bbb
		bottom: 30px  
		position: absolute
		
		
.btn
	display: inline-block
	font-size: 14px
	font-weight: bold 
	line-height: 43px
	padding: 0 10px
	border-radius: 5px
	width: 130px
	margin-right: 7px
	color: #FFF 
	&:last-of-type
		margin-right: 0
.btn-pink
	background: #ff6484
.btn-blue
	background: #37a2eb
.btn-black
	background: #343639

.chart

	.container
		padding-left: 35px
		padding-right: 25px
		display: flex
		align-items: center
	&__image
		width: 100% 
	&__left
		width: 100%
	&__top
		display: flex
		margin-bottom: 20px
		align-items: baseline
	&__new
		margin-right: 15px
		font-size: 12px
		line-height: 30px
		padding: 0 5px
		border-radius: 7px
		background: #4bc0c0
		color: #fff
		font-weight: bold  
	&__title
		font-size: 16px
		font-weight: bold 
	&__text
		font-size: 13px
		line-height: 1.5