---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin header -->
<!-- надо вставить фон 33% ширины, в анимации указать 3 раза background-position, и задать это на блок под иконку, заголовок, -->
<div class="header" style="background: #ccc url(img/pattern.png); 0% 100% repeat-x"></div>
<!-- end header -->
<div class="wrap">
	<!-- begin main -->
	<div class="main">
		<div class="container">
			<div class="main__candles">
				<img src="img/logo.png" alt="" class="main__image"/>
				<h1 class="main__title">Chart.js</h1>
			</div>
			<p class="main__suptitle">Simple yet flexible JavaScript charting for designers & developers</p>
			<div class="btns">
				<div class="btn btn-pink">Get Started</div>
				<div class="btn btn-blue">Samples</div>
				<div class="btn btn-black">GitHub</div>
			</div>
		</div>
	</div>
	<!-- end main -->
	<!-- begin chart -->
	<div class="chart">
		<div class="container">
			<div class="chart__left">
				<div class="chart__top">
					<div class="chart__new">New in 2.0</div>
					<div class="chart__title">Mixed chart types</div>
				</div>
				<div class="chart__text">Mix ant match bar and line charts to provide a clear visual distinction between datasets.</div>
			</div>
			<img src="img/chart.png" alt="" class="chart__image"/>
		</div>
	</div>
	<!-- end chart -->
</div>
{% endblock %}
