@-webkit-keyframes candles{0%{background-position:100% 100%}to{background-position:0% 100%}}@keyframes candles{0%{background-position:100% 100%}to{background-position:0% 100%}}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline}fieldset,img{margin:0;padding:0;vertical-align:baseline}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box}a img,fieldset,img{border:0}input[type=email],input[type=tel],input[type=text],textarea{-webkit-appearance:none}button,input[type=submit]{cursor:pointer}button::-moz-focus-inner,input[type=submit]::-moz-focus-inner{padding:0;border:0}textarea{overflow:auto}button,input{margin:0;padding:0;border:0}a,a:focus,button,div,h1,h2,h3,h4,h5,h6,input,select,span,textarea{outline:0}ol,ul{list-style-type:none}table{border-spacing:0;border-collapse:collapse;width:100%}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}.icon-chart{width:1em;height:1em;fill:#fff}.icon-facebook{width:.53em;height:1em;fill:#000}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local("Open Sans Light"),local("OpenSans-Light"),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local("Open Sans Light"),local("OpenSans-Light"),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}body{background:#fff;font-size:50px;font-size:calc(16px + (50 - 16)*((100vw - 600px)/(1000 - 600)));line-height:1.4}.block{display:-webkit-box;display:-ms-flexbox;display:flex}*{font-family:'Open Sans',sans-serif}.wrap{width:50%;border:1px solid #bbb;margin:0 auto 40px}.container{margin:0 auto}.header{width:100%;height:300px}.main{position:relative;top:-250px;padding:0 20px;margin-bottom:-200px}.main__image{position:relative;display:block;font-size:120px;text-align:center;margin:50px auto 0}.main__image .icon{fill:rgba(255,255,255,.85)}.main__title{text-align:center;font-size:3rem;background:rgba(255,255,255,.38);font-family:'Open Sans',sans-serif;color:#fff;margin:0 auto;padding:5px 15px;-webkit-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;z-index:1}.main__suptitle{font-size:1.2rem;padding-bottom:1rem;margin-top:200px;text-align:center;margin-bottom:14px}.main__candles{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;margin-bottom:50px;position:relative;background:url(../img/candle-bg.jpg) 0% 100% no-repeat;background-size:cover;-webkit-animation-name:candles;animation-name:candles;-webkit-animation-duration:85s;animation-duration:85s;-webkit-animation-iteration-count:10;animation-iteration-count:10;height:50vh;overflow:hidden}.main__candles:before{content:'';position:absolute;width:100%;height:100%;background:rgba(0,0,0,.58);margin-bottom:-60px;margin-top:-60px}.btns{text-align:center;padding-bottom:40px;position:relative}.btns:before{content:'';left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);width:45%;height:5px;background:rgba(168,246,56,.2);bottom:10%;position:absolute}.btn{display:inline-block;font-size:14px;font-weight:700;line-height:43px;padding:0 10px;border-radius:5px;width:130px;margin-right:7px;margin-bottom:40px;color:#fff}.btn:last-of-type{margin-right:0}.btn-pink{background:#ff6484}.btn-blue{background:#37a2eb}.btn-black{background:#343639}.chart{background:rgba(168,246,56,.081);padding-bottom:40px}.chart .container{padding-left:35px;padding-right:25px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.chart__image{width:90%;min-height:0;padding-top:46.5%;margin-top:30px;margin-bottom:30px}.chart__left{width:100%}.chart__top{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:20px;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.chart__new{margin-bottom:30px;margin-right:15px;font-size:.8rem;position:relative;top:-.2rem;line-height:1.1rem;padding:5px 15px;border-radius:7px;background:#4bc0c0;color:#fff;font-weight:700}.chart__title{font-size:1.2rem;font-weight:700}.chart__text{font-size:1rem;line-height:1.5}@media (min-width:1000px){body{font-size:50px}}@media only screen and (max-width:900px){.wrap{width:100%;border:0;margin-bottom:0}.main{top:-400px;margin-bottom:-400px}}@media (max-width:600px){body{font-size:16px}}@media only screen and (max-width:600px){.header{height:400px}.main{background:rgba(0,0,0,.08)}.main__image{margin-top:20px}.main__title{margin-top:-5%;margin-bottom:5%}.main__candles{padding-bottom:60px}.main__candles .icon{font-size:100px}.main__candles:before{margin-bottom:-120px}.chart .container,.chart__top,.main__candles{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.chart__top{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.chart__new{top:-.6rem}.chart__text{margin-bottom:30px}}@media only screen and (max-width:540px){.chart__left{-webkit-box-flex:0;-ms-flex:none;flex:none}}@media (prefers-reduced-motion:reduce){*{-webkit-transition:none!important;-o-transition:none!important;transition:none!important}}
/*# sourceMappingURL=app.css.map */

/* Styles for buttonBack*/
.toStart {
	text-decoration: none;
}

.toStart__wrapper {
	box-sizing: border-box;
	position: fixed;
	top: 25%;
	left: -5px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
	border-radius: 0 10px 10px 0;
	background: rgba(0, 0, 0, 0.7);
	border: 3px solid #fff;
	border-left: none;
	width: 65px;
	height: 32px;
	z-index: 10;
	padding-left: 5px;
}

.toStart__text {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 26px;
	margin: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

.animated_button {
	-moz-animation: cycle 4s linear infinite;
	-webkit-animation: cycle 4s linear infinite;
}

@-moz-keyframes cycle {
	35% {
		transform: rotate(0) translate(0, 0);
	}

	40% {
		transform: rotate(5deg) translate(0, -2px);
	}

	45% {
		transform: rotate(-3deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	50% {
		transform: rotate(5deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	55% {
		transform: rotate(-3deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	60% {
		transform: rotate(5deg) translate(0, -2px);
	}

	65% {
		transform: rotate(-3deg) translate(0, -2px);
	}

	70% {
		transform: rotate(0) translate(0, 0);
	}
}

@-webkit-keyframes cycle {
	35% {
		transform: rotate(0) translate(0, 0);
	}

	40% {
		transform: rotate(5deg) translate(0, -2px);
	}

	45% {
		transform: rotate(-3deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	50% {
		transform: rotate(5deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	55% {
		transform: rotate(-3deg) translate(0, -2px);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
	}

	60% {
		transform: rotate(5deg) translate(0, -2px);
	}

	65% {
		transform: rotate(-3deg) translate(0, -2px);
	}

	70% {
		transform: rotate(0) translate(0, 0);
	}
}
/* End styles for buttonBack*/